.bodySignUpCompany {
   position: relative;
   margin: 0;
    display: flex;
    width: 100vw;
    height: 93vh;
    
  }

.containerSignUpCompany {
 
   margin-right:10rem;
   display:flex ;
   justify-content: end;
   align-items: center;
   width: 100%;
   height: 100%;
   overflow: hidden;
  }
  


.imageCompany {
    position: absolute;
    bottom: 0;
    left:  15rem;
    width: 40rem;
  }
  
  @media screen and (max-width: 700px) {
    .bodySignUpCompany {
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100vw;
      max-width: 1720px; 
      height: 800px;
   
     
     
    }
  
    .containerSignUpCompany {
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 1rem; 
  
  
    }
  
    .imageCompany {
      display: none; 
    }
  }
  