.footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    /* Additional styling if needed */
  }
  
  .gridFooter{
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
  }
  @media screen and (max-width: 700px) {
    .footer {
      flex-direction: column; /* Adjust the direction for smaller screens */
      align-items: center; /* Center the items horizontally */
      /* padding: 10px;  *//* Add padding for better spacing */
      /* Additional styling for smaller screens */
    }

    .gridFooter{
        flex-direction: column; /* Adjust the direction for smaller screens */
        align-items: center; /* Center the items horizontally */
        padding: 10px; /* Add padding for better spacing */
        /* Additional styling for smaller screens */
      }
  }