.headerUserProfile{
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 10rem;
    margin: 2rem;
    background: radial-gradient(circle, #2196f3, #64b5f6, #1976d2);
  }

.photoHeaderProfile{
   
    position: absolute;
    left: 7rem;
    margin-top: -7rem;
  width: 23rem;
  height: 22rem;
}

.containerProfile{
    display: flex;
    flex-direction: row;

    margin: 2rem;
}

.containerSubscriptions{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.circularImageWrapper {
  position: relative;
  width: 50rem; /* Adjust the size as needed */
  height: 20rem; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 50%;
}

.circularImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Add any additional styling for UploadImage or other elements as needed */
