


.containerProfile{
   position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    z-index: -3;
}

.containerSubscriptions{
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.circularImageWrapper {
  position: relative;
  width: 50rem; /* Adjust the size as needed */
  height: 23rem; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 50%;
}

.circularImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.backgroundTopProfile {
  bottom: 30rem;
  height: 31rem;
  position: absolute;
  left: 0;
  width: 116rem;
  z-index: -1;
  border-top-left-radius: 170px;
}
@media screen and (max-width: 700px) { 


  .containerProfile{
    
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 800px;

 }
 
 .backgroundTopProfile {
display: none;
}
.circularImageWrapper {
  position: relative;
  width:20rem; /* Adjust the size as needed */
  height: 20rem; /* Adjust the size as needed */
  overflow: hidden;
  border-radius: 50%;
}

 
}