.bodyLogin {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  margin-top: 11rem;
}

.backgroundTop {
 bottom: 30rem;
  height: 31rem;
  position: absolute;
  left: 0;
  width: 116rem;
  z-index: -1;
  border-top-left-radius: 170px;
}

.backgroundBottom {
  bottom: 0;
  height: 55rem;
  position: absolute;
  width: 116rem;
  z-index: -1;
}
