body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}
.leaflet-container {
  z-index: 1;
  height: 560px;
  width: 800px;
  border-radius: 5%;
}
