body {
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
     height: 100%;
  }
  

  .leaflet-container{
    height: 300px;
    width: 300px;
}
