
.photoHeaderUser{
 
        position:absolute;
        left: 12em;
        top: 5.5rem;
        width: 15rem;

       
}

.headerOffersHomeUser{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 13rem;
    width: 100%;
    background: radial-gradient(circle, #2196f3, #64b5f6, #1976d2);
  }

  
  .letterHomeUser {
    position: absolute;
    top: 10rem;
  }

  @media screen and (max-width: 700px) {

    .headerOffersHomeUser{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      border-radius: 2rem;
      height: 13rem;
      width: 100%;
      background: radial-gradient(circle, #2196f3, #64b5f6, #1976d2);
    }
    .letterHomeUser {
   display: none;
    }
  
    .photoHeaderUser{
      position:absolute;
        left: 5em;
        top: 2rem;
        width: 8rem;
    }
  }
