.photoHeaderUser {
  position: absolute;
  left: 5em;
  bottom: 4.5rem;
  width: 25rem;
}

.pointerMap{
  position: absolute;
  right: 35rem;
  top: 15rem;
}
.pointerMap:hover {
  transform: scale(1.1);
  transition: transform 1.6s ease-in-out; 
}
.pointerMap2{
  position: absolute;
  right: 40rem;
  top: 28rem;
}
.pointerMap3{
  position: absolute;
  right: 28rem;
  top: 42rem;
}
.pointerMap4{
  position: absolute;
  right: 52rem;
  top: 34rem;
}
.pointerMap5{
  position: absolute;
  right: 70rem;
  top: 38rem;
}
.pointerMap6{
  position: absolute;
  right: 80rem;
  top: 22rem;
}
.pointerMap7{
  position: absolute;
  right: 54rem;
  top: 24rem;
}
.bodyHomeUser {
  position: relative;
  width: 100vw;
  height: 100vh;
}


@media screen and (max-width: 700px) {
  .headerOffersHomeUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 13rem;
    width: 100%;
    background: radial-gradient(circle, #2196f3, #64b5f6, #1976d2);
  }
  .letterHomeUser {
    display: none;
  }

  .photoHeaderUser {
    position: absolute;
    left: 5em;
    top: 2rem;
    width: 8rem;
  }
}
