

  .homeContainer {
    height: 100vh;
}

.video-background {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.video {
    margin: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}