.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}



.photoSubscription{
    transition: transform 0.3s ease-in-out; 
}

.photoSubscription:hover {
    transform: scale(1.1); /* Puedes ajustar el valor según tus preferencias para ampliar la imagen al pasar el ratón por encima */
  }


.containerOfferSubscription{
    width: 90%;
    max-width: 90%;

}

.leaflet-container{
    height: 50%;
    width: 50%;
}
