
.containerGeolocation {
    margin-left: 5rem;
    margin-top: 3.5rem; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
}

.photoSubscription {
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0;
    z-index: 1;
}

.photoSubscription:hover {
    transform: scale(2.3);
    z-index: 2;
}

.containerOfferSubscription {
    position: relative;
    display: flex;
    margin-top: 0rem;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 100vw;
    height: 1000px;
}

.leaflet-container {
    height: 10rem;
    width: 10rem;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .containerGeolocation {
        width: 80%;
        margin: 2rem;
    }

    .gallery {
        margin: 1rem;
    }

    .photoSubscription {
        transform: scale(1);
    }

    .containerOfferSubscription {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .leaflet-container {
        height: 100%;
        width: 100%;
    }
}
